<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::title}, ~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Recover Password</title>	
</head>
<body>
	<section class="py-5">
		<div class="container login-container">
			<div class="row">
				<div class="col-md-6 m-auto">
					<h3 class="text-center my-4 display-3">Insert New Password</h3>
					
					<!-- Alerts -->
					<th:block th:if="${msg}">
						<div th:utext="${msg.content}" th:classappend="${msg.css}" class="alert">
							
						</div>					
					</th:block>
						
					
					<form method="post" th:action="@{/recover/change-password}">
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Enter your new Password" value="" name="password" />
						</div>
						
						<div class="form-group">
							<input type="submit" class="btn btn-outline-primary w-100" value="Send OTP" />
						</div>
					</form>
				</div>
			</div>
		</div>		
	</section>

</body>
</html>