<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::title}, ~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Recover Password</title>	
</head>
<body>
	<section class="py-5">
		<div class="container login-container">
			<div class="row">
				<div class="col-md-6 m-auto">
					<h3 class="text-center my-4 display-3">Recover Password</h3>				
					
					<!-- server messages -->				
					<div th:if="${msg}" 
								th:classappend="${msg.css}" class="alert"
								role="alert">								
								<!-- jodi server theke kon message ashe to -->
								<span th:text="${msg.getContent()}"></span>
					</div>		
					
					<form method="post" th:action="@{/recover/forget-password}">
						<div class="form-group">
							<input type="text" class="form-control"
								placeholder="Enter your email here *" value="" name="email" />
						</div>
						
						<div class="form-group">
							<input type="submit" class="btn btn-outline-primary w-100" value="Send OTP" />
						</div>
					</form>
				</div>
			</div>
		</div>		
	</section>

</body>
</html>